<div class="modal-header">
    <h3 class="modal-title">Executer une tâche sur détection de mouvement</h3>
</div>
<div class="modal-body">
    <form novalidate name="form" >

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="task.onEnter"> En entrée de détection:
                </label>
            </div>
        </div>
        <task-options ng-if="task.onEnter" module="module" options="task.optionsOnEnter" ></task-options>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="task.onExit"> En sortie de détection:
                </label>
            </div>
        </div>
        <task-options ng-if="task.onExit" module="module" options="task.optionsOnExit" ></task-options>

        <div class="form-group">
            <label>Actions</label>
            <div>
                <task-actions actions="task.actions"></task-actions>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="submitForm(form)">Enregistrer</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>