.tmp
.storage
.my-buddy
config.local.js
node_modules
yarn.lock
data/storage/*
!data/storage/.gitkeep

npm-debug.log*

.idea
.idea_modules

lib/**/*.js

# intellij
*.iml
.dist

!src/hooks/client-web-server/*.js
src/hooks/client-web-server/.build