/**
 * This local config is only for the current computer.
 * Remove the .tmpl part.
 */
module.exports = {

    externalServices: {
        google: {
            auth: {
                // You should provide credentials here
                clientId: 'foo',
                clientSecret: 'bar'
            }
        }
    }

};