<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Repository</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="chewie.dashboard.home">Home</a>
            </li>
            <li class="active">
                <a ui-sref="chewie.dashboard.repository.list">browse</a>
            </li>
            <li class="active">
                <strong>Detail</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content" ng-lockable="!ready">
    <div class="row animated fadeIn">
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{plugin.package.title || plugin.name}}</h5>
                </div>
                <!--<div ng-lockable="!ready">-->
                <div>
                    <div class="ibox-content no-padding border-left-right"></div>
                    <div class="ibox-content profile-content">
                        <h4>Plugin ID: {{plugin.name}}</h4>
                        <p>From <strong>{{plugin.package.author}}</strong></p>
                        <p><small>version {{plugin.version}}</small></p>
                        <h5>Description</h5>
                        <p>{{plugin.package.description}}</p>
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-12 animated fadeIn">
                                    <button type="button" class="btn btn-warning btn-sm btn-block" ng-click="unSave()">Uninstall</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>