<div class="container-fluid">
    <h1 class="page-header">{{ name }}</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Configuration</h5>
                    <div class="ibox-tools"></div>
                </div>
                <div class="ibox-content">
                    <form method="get" class="" ng-submit="submit()">
                        {{formData.options}}
                        <module-form-options config-options="hook.packageInfo.chewie.configOptions" ng-model="formData.options"></module-form-options>

                        <input class="btn btn-primary" type="submit" value="Valider"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>