<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" ng-src="{{user.getProfileImage('small')}}"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{user.firstName}} {{user.lastName}}</strong>
                         </span>
                            <span class="text-muted text-xs block">{{user.role | role}} <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu m-t-xs">
                        <li><a ui-sref="chewie.dashboard.profile">Profile</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="logout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="chewie.dashboard.home"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Home' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="chewie.dashboard.settings"><i class="fa fa-th-large"></i> <span class="nav-label">Settings</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="chewie.dashboard.playground"><i class="fa fa-th-large"></i> <span class="nav-label">Playground</span></a>
            </li>
            <!--<li ui-sref-active-if="'chewie.dashboard.tasks.list'">-->
                <!--<a ui-sref="chewie.dashboard.tasks.list"><i class="fa fa-tasks"></i> <span class="nav-label">My tasks</span></a>-->
            <!--</li>-->
            <li ui-sref-active-if="'chewie.dashboard.scenarios'">
                <a ui-sref="chewie.dashboard.scenarios.index"><i class="fa fa-tasks"></i> <span class="nav-label">Scenarios</span></a>
            </li>
            <!--<li ui-sref-active-if="['chewie.dashboard.tasks.create', 'chewie.dashboard.tasks.createForm']">-->
                <!--<a ui-sref="chewie.dashboard.tasks.create"><i class="fa fa-plus-square"></i> <span class="nav-label">New task</span></a>-->
            <!--</li>-->
            <li ui-sref-active-if="'chewie.dashboard.hooks'">
                <a ui-sref="chewie.dashboard.hooks.list"><i class="fa fa-th-large"></i> <span class="nav-label">Hooks</span></a>
            </li>
            <!--<li ui-sref-active-if="'dashboard.messagesAdapters'">-->
                <!--<a ui-sref="dashboard.messagesAdapters.list"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Messages adapters' | translate }}</span></a>-->
            <!--</li>-->
            <!--<li ui-sref-active-if="'chewie.dashboard.taskTriggers'">-->
                <!--<a ui-sref="chewie.dashboard.taskTriggers.list"><i class="fa fa-th-large"></i> <span class="nav-label">Task triggers</span></a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="chewie.dashboard.plugins"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Plugins' | translate }}</span></a>-->
            <!--</li>-->
            <li ui-sref-active-if="'chewie.dashboard.repository'">
                <a ui-sref="chewie.dashboard.repository.list"><i class="fa fa-th-large"></i> <span class="nav-label">Repository</span></a>
            </li>
            <!--<li ui-sref-active-if="'chewie.dashboard.screens'">-->
                <!--<a ui-sref="chewie.dashboard.screens.list"><i class="fa fa-th-large"></i> <span class="nav-label">Screens</span></a>-->
            <!--</li>-->
            <li ui-sref-active-if="'chewie.dashboard.system'">
                <a ui-sref="chewie.dashboard.system"><i class="fa fa-desktop"></i> <span class="nav-label">System</span></a>
            </li>
        </ul>
    </div>
</nav>