<!doctype html>
<html ng-app="myBuddy">
<head>
    <meta charset="utf-8">
    <title>My buddy</title>
    <!--http://www.flaticon.com/-->
    <link rel="icon" type="image/png" href="resources/favicon-2.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.0/animate.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/Foxandxss/angular-toastr/master/dist/angular-toastr.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/theme/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.9.1/css/nanogallery.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

    <!-- Include Date Range Picker -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>
<body>

    <!-- Main view  -->
    <div ui-view></div>

    <!-- Form messages template -->
    <ng-include src="'app/views/messages.html'"></ng-include>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.0-rc.2/angular-messages.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.2.1/annyang.min.js"></script>
    <script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/fragaria/angular-daterangepicker/master/js/angular-daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/btford/angular-socket-io/master/socket.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/Foxandxss/angular-toastr/master/dist/angular-toastr.tpls.min.js"></script>
    <script type="text/javascript" src="vendors/angular-translate/angular-translate.min.js"></script>

    <!--Get app configuration-->
    <script src="configuration.js"></script>

    <!-- inject:js -->
    <script src="/app/components/tasks-old/module.js"></script>
    <script src="/app/components/tasks-old/controllers.js"></script>
    <script src="/app/components/users-config/module.js"></script>
    <script src="/app/components/users-config/controllers.js"></script>
    <script src="/app/components/tasks/module.js"></script>
    <script src="/app/components/tasks/controllers.js"></script>
    <script src="/app/components/task-triggers/module.js"></script>
    <script src="/app/components/task-triggers/services.js"></script>
    <script src="/app/components/task-triggers/controllers.js"></script>
    <script src="/app/components/screens/module.js"></script>
    <script src="/app/components/screens/controllers.js"></script>
    <script src="/app/components/modules/module.js"></script>
    <script src="/app/components/modules/controllers.js"></script>
    <script src="/app/components/config/module.js"></script>
    <script src="/app/components/config/controllers.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/tasksService.js"></script>
    <script src="/app/services.js"></script>
    <script src="/app/filters.js"></script>
    <script src="/app/directives.js"></script>
    <script src="/app/controllers.js"></script>
    <script src="/app/config.js"></script>
    <!-- endinject -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.9.1/jquery.nanogallery.min.js"></script>
</body>
</html>