<!doctype html>
<html ng-app="screens.default">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="/app/screens/default/theme/css/style.css">
        <link rel="stylesheet" href="/css/screens.css">
        <link rel="stylesheet" href="/app/screens/default/index.css">
    </head>
    <body>
        <!-- Main view  -->
        <div ui-view></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.0-rc.2/angular-messages.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.3/sprintf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.7/jquery.slimscroll.min.js"></script>
        <script src="/app/screens/default/monkeecreate-jquery.simpleWeather/jquery.simpleWeather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.0/masonry.pkgd.min.js"></script>
        <script src="https://cdn.rawgit.com/monospaced/bower-qrcode-generator/master/js/qrcode.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-qrcode/6.2.1/angular-qrcode.min.js"></script>

        <script src="/app/shared/module.js"></script>
        <script src="/app/shared/services/screens-service.js"></script>
        <script src="/app/shared/services.js"></script>
        <script src="/app/screens/default/app.js"></script>
        <script src="/app/screens/default/controllers.js"></script>
    </body>
</html>