<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Messages adapters</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboard.home">Home</a>
            </li>
            <li class="active">
                <strong>Messages adapters</strong>
            </li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <h1 class="page-header">Adapters</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <uib-tabset class="tabs-left">
                    <uib-tab heading="{{module.name}}" ng-repeat="module in adapters">
                        <div class="panel-body">
                            <p>
                                <strong>About: </strong>{{ module.config.description || "No description" }}
                            </p>
                            <p><a class="btn btn-primary" ui-sref="dashboard.messagesAdapters.detail({ id: module.id })">Configuration</a></p>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
