<script type="text/ng-template" id="form-messages">
    <small class="text-danger" ng-message="required">This field is required</small>
    <small class="text-danger" ng-message="minlength">This field is too short</small>
    <small class="text-danger" ng-message="maxlength">This field is too long</small>
    <small class="text-danger" ng-message="required">This field is required</small>
    <small class="text-danger" ng-message="email">This needs to be a valid email</small>
    <small class="text-danger" ng-message="min">This value is too small</small>
</script>
