<form method="post">
    <% if (locals.error) { %>
        <p style="color:red;"><%= error %></p>
    <% } %>
    <input type="text" placeholder="Author" name="author">
    <br>
    <input type="text" placeholder="Message" name="content">
    <br>
    <button type="submit">Send</button>
</form>
