<form name="form" ng-submit="submit(form)">
    <label>
        Name
        <input type="text" name="name" ng-model="data.name">
    </label><br>
    <!--<label>-->
        <!--appId-->
        <!--<input type="text" name="appId" ng-model="data.appId">-->
    <!--</label><br>-->
    <label>
        appSecret
        <input type="text" name="appSecret" ng-model="data.appSecret">
    </label><br>
    <label>
        accessToken
        <input type="text" name="accessToken" ng-model="data.accessToken">
    </label><br>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
